@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #14213d;
  --secondary-color: #99d6ea;
  --accent1-color: #ffd85d;
  --accent2-color: #ffb375;

  --heading-font: 'Indie Flower', Serif;
  --paragraph-font: 'Josefin Slab', 'Slab Serif';

  --nav-backgroud-color: #ffd85d;
  --nav-link-color: #14213d;
  --nav-hover-link-color: #ffff;
  --nav-hover-background-color: #0000;
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--paragraph-font);
  color: var(--primary-color);
}

/* header */

header {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 120px 1fr 2fr;
  align-items: center;
  border-bottom: 1px solid #ffd85d;
  max-width: 960px;
}

.logo {
  grid-column: 1;
}

.logo img {
  margin: 0 0.25rem 0 1rem;
  width: 100px;
  height: auto;
}

.navigation {
  grid-column: 2/5;
  text-align: right;
}

.navigation a {
  color: var(--primary-color);
  padding: 10px;
  text-decoration: none;
  font-size: 1.2rem;
}

.navigation a:hover {
  color: var(--accent2-color);
  font-weight: 700;
}

/* header */

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero {
  position: relative;
  text-align: center;
}

.hero h1 {
  position: absolute;
  top: 10%;
  background-color: var(--accent1-color);
  padding: 10px 381px;
}

.hero article {
  position: absolute;
  top: 45%;
  left: 7%;
  display: flex;
  align-items: center;
  background-color: var(--accent1-color);
  padding: 20px;
  width: 87%;
  max-width: 800px;
}

.hero article p {
  position: absolute;
  width: 550px;
  flex: 1;
  margin: 0;
  color: var(--primary-color);
  font-size: 1.1rem;
}

.hero article img {
  width: 175px;
  height: auto;
  margin-left: 575px;
  border-radius: 0px;
}

.story{
  padding: 1rem;
  margin: 1rem;
  background-color: var(--accent2-color);
}

section h2 {
  text-align: center;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container img {
  width: 200px;
  height: auto;
  padding: 2px;
  margin: 5px;
}

.container p {
  width: 300px;
  margin: 0 auto;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.box {
  text-align: center;
  width: 150px;
  margin: 10px;
}

.box img {
  width: 100%;
  height: auto;
}

.box figcaption {
  margin-top: 5px;
  color: var(--primary-color);
  font-size: 0.9rem;
}

footer {
  margin-top: 15px;
  border-top: 1px solid var(--accent1-color);
  padding: 15px;
  text-align: center;
}

.sociallinks {
  display: flex;
  justify-content: flex-end;
}

.sociallinks a{
  margin-left: 10px;
}

.sociallinks img {
  width: 30px;
}