* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-color: steelblue;
    --border: 1px solid rgba(0, 0, 0, 0.2);;
}

nav {
    background-color: var(--heading-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

h1 {
    color: var(--heading-color);
}

main {
    max-width: 840px;
}

ul {
    clear: both;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    right: 130px;
    top: 12px;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px grey;
    float: right;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: var(--border);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}